## 241224 수업 시작

In [43]:
a = b = 10
c, d =(30, 'Hello')
e = 35

print(a, b, c, d, e)

10 10 30 Hello 35

In [44]:
movie_rank=["닥터 스트레인지", "스플릿", "럭키"]

movie_rank.append("배트맨")

print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [45]:
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [46]:
movie_rank.pop(3)
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [47]:
movie_rank.pop(3)
movie_rank.pop()
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [48]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [49]:
p_num = '010-1111-2222'
p_num.replace("-", " ")

print(p_num)

010-1111-2222

In [50]:
a, b, c = input().split()
a=str(a)
b=float(b)
c=int(c)

print(a, b, c)
print(type(a), type(b), type(c))
print('name :', a, ',height :', b, ',age :', c)

ValueError: not enough values to unpack (expected 3, got 0)

In [36]:
d = {'kim':34000, 'lee':12000, 'park':1200, 'lew':0, 'song':3420}
print(sum(d.values()))

50620

In [41]:
def make_list(string):
    return list(string)

make_list("abcd")

['a', 'b', 'c', 'd']

매개변수 local 지역변수

In [42]:
a = 1
def vartest(a):
    a= a + 1

vartest(a)
print(a)

1

전역변수 global 변수

In [55]:
g = 1
def varest(g):
    g = g+1
    return g

g = varest(g)
print(g)

2

In [58]:
myList = [1, 2, 3, 4, 5]

result = [] #결과값을 배열로 지정

for i in myList :
    result.append(i+1)

print(result)

[2, 3, 4, 5, 6]

In [64]:
myList = [1, 2, 3, 4, 5]

def add_one(n):
    return n+1

result = list(map(add_one, myList)) #map고차원 내장함수를 사용하여 속도 최적화 가능 
print(result)

[2, 3, 4, 5, 6]

In [65]:
f = (3.14, -5.625, 100.4, 25.8)

result = list(map(round, f))
print(result)

[3, -6, 100, 26]

In [78]:
r = (52,255, 39, 132)
g = (19, 63, 227, 197)
b = (0, 68, 255, 187)

img = list(zip(r,g,b))
print(img)

[(52, 19, 0), (255, 63, 68), (39, 227, 255), (132, 197, 187)]

In [83]:
f= ('apple', 'banana', 'orange', 'mango')
fru_num= dict(enumerate(f, start=1))
print(fru_num)

{1: 'apple', 2: 'banana', 3: 'orange', 4: 'mango'}

In [86]:
def f(x):
    return x>5 and x<10

a=[8, 3, 2, 10, 15, 7, 1, 9, 0, 11]
print(list(filter(f, a)))

[8, 7, 9]

## lambda 함수

In [93]:
numbers = [1, 2, 3, 4]

squared = list(map(lambda x :x**2, numbers))
print(squared)

[1, 4, 9, 16]

In [99]:
numbers = [1, 2, 3, 4, 5]
even_number = list(filter(lambda n : n%2==0, numbers))
print(even_number)

[2, 4]

In [106]:
points = [(1,2), (3,4), (5,1)]
sorted_point = sorted(points, key=lambda x :x[1])
print(sorted_point)

[(5, 1), (1, 2), (3, 4)]

In [107]:
my_dict = {3:'c', 1: 'd', 2:'b'}

new_dict = sorted(my_dict.items(), key=lambda item : item[1])
print(my_dict)
print(new_dict)

{3: 'c', 1: 'd', 2: 'b'}
[(2, 'b'), (3, 'c'), (1, 'd')]

## 모듈 Module

In [108]:
import math

In [110]:
math.pow(2,3) #2의 3승

8.0

In [127]:
import random

result = []
while len(result) < 6:
    num = random.randint(1, 45)
    if num not in result:
        result.append(num)
print (result)

[17, 45, 2, 42, 28, 9]

In [122]:
print(random.randint(1, 10))  # 1 이상 10 이하의 정수

9

## 클래스

In [128]:
class Dog:
    species = "Doberman"

    def __init__(self, name, age):
        self.name = name
        self.age = age 
        
    def bark(self):
        return f'{self.name} is barking'

In [130]:
dog1 = Dog('Max', 5)

In [131]:
dog1.bark()

'Max is barking'

In [134]:
print(dog1.name, dog1.age)

Max 5

In [136]:
type(dog1) #'Dog'라는 클래스 타입

__main__.Dog

In [137]:
class Calculator:
    def __init__(self):
        self.result = 0
    
    def add(self,num) : 
        self.result += num
        return self.result 
    
cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

3
7
3
10

In [3]:
class FourCal:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
    def add(self):
        result = self.num1 + self.num2
        return result
    def sub(self):
        result = self.num1 - self.num2
        return result
    def mul(self):
        result = self.num1 * self.num2
        return result
    def div(self):
        result = self.num1 / self.num2
        return result

In [139]:
a = FourCal(7, 3)

In [140]:
a.num2

3

In [142]:
a.sub()

4

In [143]:
a.div()

2.3333333333333335

In [4]:
class AdvancedFourCal(FourCal):
    def pow(self):
        return self.num1 ** self.num2
    
#클래스의 상속적 특성

In [146]:
c = AdvancedFourCal(4, 2)

In [147]:
c.pow()

16

In [5]:
class SafeFourCal(FourCal):
    def div(self):
        if self.num2 == 0:
            return 0
        else:
            return self.num1 / self.num2

#Class를 사용하면 쉬운 버그 FIX

In [6]:
e = SafeFourCal(5,0)
e.div()

0