## 241220 수업

In [48]:
name = input('이름을 입력하세요: ')
visit = int(input('방문 횟수를 입력하세요: '))

print('안녕하세요.'+name+'님')
print('오늘은', visit+1, '번째 방문일입니다.')
print(f'오늘로 {int(visit)+1}회 방문하셨어요.')

안녕하세요.진솔님
오늘은 9 번째 방문일입니다.
오늘로 9회 방문하셨어요.

In [42]:
jumin = str('991225-1234567')

print(jumin[0:6])
print(jumin[-7])
print(jumin[-7:])

991225
1
1234567

In [43]:
sen = str("이번역은 역삼역, 역삼역입니다. 앞으로 읽어도 역삼역 거꾸로 읽어도 역삼역")

print(sen[::-1])

역삼역 도어읽 로꾸거 역삼역 도어읽 로으앞 .다니입역삼역 ,역삼역 은역번이

In [44]:
user_id = input('아이디를 입력하세요 : ')
user_pw = input('비밀번호를 입력하세요: ')

if user_id == 'admin' and user_pw == '1234' :
    print('로그인 성공하였습니다.')
elif user_id != 'admin' or user_pw != '1234' :
    print('아이디 또는 비밀번호가 다릅니다.')
    print('로그인에 실패하였습니다.')

아이디 또는 비밀번호가 다릅니다.
로그인에 실패하였습니다.

In [45]:
i = 0
while i < 5:
    i = i + 1
    print(f'{i}번째 출력: Hello Python!')
print('반복문 종료')

1번째 출력: Hello Python!
2번째 출력: Hello Python!
3번째 출력: Hello Python!
4번째 출력: Hello Python!
5번째 출력: Hello Python!
반복문 종료

In [52]:
i = 0
while i < 20:
    i = i + 1
    print(f'{i}',end=" ")
print('반복문 종료')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 반복문 종료

In [65]:
endvalue = 1000

hap = 0
i = 0
while i < endvalue:
    i = i + 1
    hap = hap + i
print(f'1부터 {endvalue}까지의 합은 {hap}입니다.')

1부터 1000까지의 합은 500500입니다.

In [71]:
endvalue = 10

hap = 0
i = 0
while i < endvalue:
    i = i + 2
    hap = hap + i
    print(i, hap)
print(f'1부터 {endvalue}까지의 짝수의 합은 {hap}입니다.')

2 2
4 6
6 12
8 20
10 30
1부터 10까지의 짝수의 합은 30입니다.

In [ ]:
endvalue = int(input('합을 원하시는 숫자를 입력해주세요: '))

hap = 0
i = 0
while i < endvalue:
    i = i + 1
    hap = hap + i
print(f'1부터 {endvalue}까지의 합은 {hap}입니다.')

1부터 20까지의 짝수의 합은 210입니다.

In [75]:
endvalue = int(input('합을 원하시는 숫자를 입력해주세요: '))

gop = 1
i = 1
while i < endvalue:
    i = i + 1
    gop = gop*i
print(f'1부터 {endvalue}까지의 곱은 {gop}입니다.')

1부터 10까지의 곱은 3628800입니다.

In [76]:
prompt = """
1. ADD
2. Del
3. Quit
"""

input_num = 0

while input_num != 3:
    print(prompt)
    input_num = int(input())

1. ADD
2. Del
3. Quit


1. ADD
2. Del
3. Quit


1. ADD
2. Del
3. Quit

In [77]:
for i in 'hello':
    print('Hello python')

Hello python
Hello python
Hello python
Hello python
Hello python

In [83]:
for i in range(11, 0, -1):
    print(i)

11
10
9
8
7
6
5
4
3
2
1

In [85]:
for i in range(0, 8, 2):
    print(i)

0
2
4
6

In [86]:
for i in range(2, 8):
    print(i)

2
3
4
5
6
7

In [92]:
endvalue = int(input('합을 원하는 정수 입력: '))

hap = 0
i = 0
for i in range(1, endvalue+1):
    hap = hap + i
print(f'입력하신 정숫값 {endvalue}까지의 합은 {hap}입니다.')

입력하신 정숫값 10까지의 합은 55입니다.

In [96]:
dan = int(2)

i = 0
for i in range(1,10):
    print(f'{dan}*{i}={dan*i}')
print('2단=================')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2단=================

In [116]:
dan = int(2)

i = 0
while i < 9 :
    i = i + 1
    print(f'{dan}*{i}={dan*i}')
print('2단======================')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2단======================

In [123]:
dan = 1
i = 0
for dan in range(2, 10):
    for i in range(1,10):
        print(f'{dan}*{i}={dan*i:2}', end = " ")

2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18 3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27 4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36 5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45 6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54 7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63 8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72 9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [133]:
hap = 0
for i in range(1,11):
    hap = hap + i
    if hap >= 20:
        print(f'정수:{i}, 합:{hap}')
        break

정수:6, 합:21

In [126]:
hap = 0
for i in range(1, 11):
    if i%2 == 0:
        continue
    print(i, end=" ")
    hap=hap+i

print('\n', hap)

1 3 5 7 9
 25

In [132]:
hap = 0
for i in range(1, 11):
    if i%2 == 0:
        continue
    print(i, end=" ")
    hap=hap+i

print('\n', hap)

1 3 5 7 9
 25

In [6]:
import random
answer=random.randint(1,100)
print(answer)

while True :
    i = int(input('수를 맞혀보세요.:'))
    if i == answer :
        print('정답입니다.')
        break
    elif i > answer :
        print('너무 큽니다.')
        continue
    else :
        print('너무 작습니다.')
        continue

30
너무 작습니다.
너무 큽니다.
정답입니다.

In [11]:
x = 0

while True:
    x = x + 1
    if x > 20 :
        break
    if x%3 == 0 or x%5 == 0 :
        # 3의 배수와 5의 배수를 빼고 출력
        continue
    print(x, end= " ")

1 2 4 7 8 11 13 14 16 17 19

In [28]:
tree = ''

while True :
    tree = tree+'*'
    if tree > '******************' :
        break
    print(tree)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************

In [30]:
for i in range (1, 11):
    print('*'*(2*i-1))

*
***
*****
*******
*********
***********
*************
***************
*****************
*******************

In [2]:
a=[1, 2, 3, 5, 6, 7]
b=['apple', 'banana', 'lemon', 'orange']
c=[1, 'hello', [2, 'hi']]

print(type(a))
print(a, b)
b[-1]
c[2][1]
c[-1][-1]

<class 'list'>
[1, 2, 3, 5, 6, 7] ['apple', 'banana', 'lemon', 'orange']

'hi'

In [8]:
c=[1, 'hello', [2, 'hi']]
c[1]

'hello'

In [14]:
a=[1, 2, 3, ['a', 'b', 'c'], 4, 5]

a[3][0:2]

['a', 'b']

In [19]:
a = [10, 20, 30, 40, 50]

In [20]:
print(a)

a[1:3] = [100, 100]

print(a)

[10, 20, 30, 40, 50]
[10, 100, 100, 40, 50]

In [23]:
fruits = ['apple', 'banana']

In [25]:
fruits.append('lemon')
print(fruits)

['apple', 'banana', 'lemon']

In [27]:
fruits.insert(1, 'cherry')
print(fruits)

['apple', 'cherry', 'cherry', 'banana', 'lemon']

In [28]:
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'cherry', 'lemon']

In [29]:
fruits.remove('banana')
print(fruits)

['apple', 'cherry', 'cherry', 'lemon']

In [30]:
fruits.pop(-1)
print(fruits)

['apple', 'cherry', 'cherry']

In [31]:
score = [15, 95, 22, 73, 55, 100]

In [36]:
score.sort(reverse=True)
print(score)

[100, 95, 73, 55, 22, 15]

In [37]:
score.reverse()
print(score)

[15, 22, 55, 73, 95, 100]

In [38]:
len(score)

6

In [43]:
score = [100, 50, 30, 50, 30, 55, 100]
score.count(50)
sum(score)

415

In [44]:
import statistics

In [45]:
statistics.mean(score)

59.285714285714285

In [46]:
print(sum(score)/len(score))

59.285714285714285

In [50]:
marks = [90, 25, 67, 45, 80]
bunho = 0

for i in marks:
    bunho += 1
    if i >= 60:
        print(f'{bunho}번 학생은 합격입니다.')
    else :
        print(f'{bunho}번 학생은 불합격입니다.')

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [55]:
print('끝말잇기 게임')
print('시작')
var="가나다"

print(var)
while True :
    word = input('단어를 입력해주세요.: ')
    print(word)
    if var[-1] == word[0]:
        var = word
        continue
    else:
        print('땡!')
        break

끝말잇기 게임
시작
가나다
다람쥐
쥐구멍
멍멍이
이빨
빨리
리모컨
컨티뉴
끝!
땡!