## 241219 수업 시작!

파이썬 기본 문법

In [3]:
print(1+1)

2

In [5]:
print("Hello World")

Hello World

In [6]:
print("Hello Python!)

SyntaxError: unterminated string literal (detected at line 1) (2728876939.py, line 1)

In [7]:
Hello, python1
Hello, python2
Hello, python3

NameError: name 'Hello' is not defined

In [8]:
print(1+2)
print(2+3)
print(3+4)

3
5
7

In [9]:
1+2
2+3
3+4
4+5

9

In [14]:
print("Hello")
print("Python")
print("홍길동", "나이 =", 20, "세")

Hello
Python
홍길동 나이 = 20 세

In [17]:
print('Hello'); print('Python')

print('Nice\
      to meet You')

Hello
Python
Nice      to meet You

In [21]:
print('Hi', 'Python', sep="*")

Hi*Python

In [23]:
print('Hi', end=' ')
print('Python')

Hi Python

In [24]:
name = '홍길동'
age = '20'
print(name, '나이 =', age, '세')

홍길동 나이 = 20 세

In [25]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [26]:
type(name)

str

In [27]:
str()
int()
float()
bool()

False

In [28]:
bool(False)

False

In [29]:
type(False)

bool

In [30]:
a = 3
b = 4

print('a+b', a+b)
print('a-b', a-b)
print('a*b', a*b)
print('a/b', a/b)
print('a%b', a%b)
print('a//b', a//b)
print('a**b', a**b)

a+b 7
a-b -1
a*b 12
a/b 0.75
a%b 3
a//b 0
a**b 81

In [41]:
n=1234

# 각자리의 숫자를 추출해서 출력하고 싶은 경우
d1000 = n//1000
d100 = (n//100)%10
d10 = (n//10)%10
d1 = (n//1)%10

print(d1000, d100, d10, d1)

1 2 3 4

In [42]:
pay = 12345678

print((pay//100)*100)

12345600

In [44]:
a = 1
b = 5

print(a==b, a!=b, a<b, a>b, a<=b, a>=b)

False True True False True False

In [45]:
print((3<5) and (3>0))
print((4<7) or (5>8))
print(not(5<9))

True
True
False

In [47]:
head = "Python"
tail = "Hello"

head + tail

'PythonHello'

In [48]:
print("'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.")

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.

In [50]:
print("\'낮말\'은 새가 듣는다.")

'낮말'은 새가 듣는다.

In [60]:
samplestring = "Life is too short"
len(samplestring)
samplestring[8:11]

'too'

In [67]:
sam_str = "Life is too short, You need Python"
print(sam_str[0:2]+sam_str[8]+sam_str[24])

Lite

In [68]:
input()

'hello'

In [69]:
name = input()

print('당신의 이름은 '+ name + '입니다.')

당신의 이름은 김진솔입니다.

In [72]:
num1 = int(input())
num2 = int(input())

print(num1+num2)

5

In [76]:
a = int(input())
b = int(input())

print((a*b)/2)

25.0

In [79]:
x = int(2000)
y = int(3000)
z = int(5000)

print(input()+input())

xy

In [80]:
# 메뉴와 가격 정의
menu = {
    "햄버거": 5000,
    "피자": 8000,
    "파스타": 12000
}

# 메뉴판 출력
print("메뉴판:")
for item, price in menu.items():
    print(f"{item}: {price}원")

# 손님이 메뉴 선택
choice = input("\n원하시는 메뉴를 골라주세요: ")

# 가격 출력
if choice in menu:
    print(f"\n{choice}의 가격은 {menu[choice]}원입니다.")
else:
    print("\n죄송합니다. 선택하신 메뉴는 없습니다.")

메뉴판:
햄버거: 5000원
피자: 8000원
파스타: 12000원

피자의 가격은 8000원입니다.

In [82]:
num1 = int(input('정수1: '))
num2 = int(input('정수2: '))

print(num1, '+', num2, '=', num1+num2)

5 + 10 = 15

In [86]:
a = float(input("첫 번째 값 입력: "))
b = float(input("두 번째 값 입력: "))

print(f'{a:.2f} * {b:.3f} = {a*b:.2f}')

10.50 * 30.220 = 317.31

In [88]:
r = float(input('반지름 입력(cm): '))

print(f"반지름 : {r:.1f}cm")
print(f"원의 둘레는 : {r*2*3.14:.1f}cm")
print(f"원의 둘레 : {r*r*3.14:,.1f}cm2")

반지름 : 150.7cm
원의 둘레는 : 946.4cm
원의 둘레 : 71,309.0cm2

In [93]:
money = True

if money:
    print('맛난거 먹고')
    print('영화도 먹고')

맛난거 먹고
영화도 먹고

In [94]:
result = 10 > 4
print(result)
if result : 
    print ("this is test.")

True
this is test.

In [98]:
money = 10-10

if money:
    print('맛난거 먹고')
    print('영화도 먹고')
else : 
    print('친구한테 얻어먹기')

친구한테 얻어먹기

In [109]:
num = int(input('숫자를 입력하세요: '))

if num%2==1 :
    print('홀수입니다.')
else : 
    print('짝수입니다.')

홀수입니다.

In [110]:
score = int(input('점수를 입력하세요: '))

if score >= 90 :
    print('A')
elif score >= 80 :
    print('B')
elif score >= 70 :
    print('C')
elif score >= 60 : 
    print('D')
else :
    print('F')

B

In [112]:
age = int(input('나이를 입력하세요: '))
birth = int(input('생년월일을 입력하세요.: '))

if age >= 65 :
    print('모든 요일 구매 가능')
elif birth%5==1 :
    print('월요일')
elif birth%5==2 :
    print('화요일')
elif birth%5==3 :
    print('수요일')
elif birth%5==4 :
    print('목요일')
else :
    print('금요일')

모든 요일 구매 가능

In [121]:
height = int(input('키를 입력하세요 : '))/100
weight = int(input('몸무게를 입력해주세요. : '))

if weight/(height*height) >= 25 :
    print('비만')
elif weight/(height*height) >= 23 :
    print('과체중')
elif  weight/(height*height) >= 18.5 :
    print('정상체중')
else :
    print('저체중')

비만

In [128]:
car_num = input('차량번호를 입력해 주세요. ')
day = int(input('오늘이 몇 일인가요? : '))

if len(car_num)!=4 or day >= 32 :
    print('입력값 오류입니다.')
elif int(car_num)%2==1 and day%2==1 :
    print('홀수 차량 운행날입니다.')
else :
    print('짝수 차량 운행날입니다.')

짝수 차량 운행날입니다.